/* GLOBAL */
html, body, #root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e2db;
  color: #1a3263
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: #e8e2db;
}

/* TABLES */

table{
  margin-left: auto;
  margin-right: auto;
}
table, th, td{
  border: 1px solid #1a3263;
  border-collapse: collapse;
}
table tr{
  height: 40px;
}
table, tbody{
  text-align: center;
}
.small_tb_head{
  width: 50px;
}
.medium_tb_head{
  width: 150px;
}
.large_tb_head{
  width: 250px;
}
.osobaDet:hover{
  cursor: pointer;
}

 /* WRAPPER */
.wrapper{
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  display: inline-block;
}
.routes{
  width: 90%;
  margin: 0;
  float: right;
  padding: 0;
  height: 100%;
}

/*  MENU -> COMPONENT*/

.menu_sidebar{
  width: 10%;
  height: 100%;
  float: left;
  background-color: #1a3263 ;
  color:  #e8e2db;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
  height: 60px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: -87px;
}
.menu_list{
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.list_item{
  margin: 10px;
}

/* COMPONENTS */
.btnAddNew{
  width: 150px;
  height: 30px;
  margin-top: 15px;
  font-weight: 700;
  text-align: center;
  border: solid 1px  #1a3263;
  background-color: #e8e2db;
  color: #1a3263;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2), 0 3px 1px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
.btnOption{
  width: 100%;
  background-color: #e8e2db;
  border: solid 1px  #1a3263;
  color: #1a3263;
  border-radius: 3px;
}
  /* FORM */
.form{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
.alert{
  background-color: #f9dc86;
  height: 50px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}
label{
  float: left;
}
input{
  height: 20px;
}

  	/* HEADER */
.Header{
  height: 80px;
  margin: 10px;
  width: 100%;
  text-align: center;
}

header{
  margin: 0px;
  padding: 10px;
  height: 60px;
  background-color: #1a3263;
  color:  #e8e2db;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  /*OSOBA DETAILS*/
.osobaDetails{
  margin: 40px 50px 0px 20px;
}
.osobaHead{
  text-align: left;
}
.osobaBasic{
  margin: 0;
  padding: 0;
  margin-top: -29px;
}
.osobaInfo{
  float: left;
  text-align: left;
  width: 50%;
}
.osobaStats{
  float: right;
  text-align: left;
  width: 50%;
}